<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
  <!-- <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro"/> -->
  <!-- <xacro:zed_camera name="$(arg camera_name)" model="$(arg camera_model)" enable_gnss="false">
    <gnss_origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:zed_camera>-->

  <!-- Add a joint to connect the ZED Camera to the robot -->
  <!-- <joint name="$(arg camera_name)_joint" type="fixed">
    <parent link="base_link"/>
    <child link="$(arg camera_name)_camera_link"/>
    <origin xyz="${zed_x_offset} 0 ${zed_z_offset}" rpy="0 ${40 * (pi / 180)} 0" />
  </joint> -->
</robot>