<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
  <!-- Get the ZED description -->
  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro"/>
  
  <!-- Make the camera -->
  <!-- Either using GNSS or not -->
  <xacro:zed_camera name="$(arg camera_name)" model="$(arg camera_model)" enable_gnss="$(use_zed_localization)">
    <xacro:if value="$(use_zed_localization)">
      <gnss_origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:if>
  </xacro:zed_camera>

  <!-- Add a joint to connect the ZED Camera to the robot -->
  <joint name="$(arg camera_name)_joint" type="fixed">
  <!-- '$(arg camera_name)_camera_link' is a child of 'base_link' -->
    <parent link="base_link"/>
    <child link="$(arg camera_name)_camera_link"/>
    <origin xyz="${zed_x_offset} 0 ${zed_z_offset}" rpy="0 0 0" />
  </joint>
</robot>