<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot_name">
  <!-- Include all of the pieces of the robot -->
  <xacro:include filename="robot_core.xacro"/>
  
  <!-- Control -->
  <!-- <xacro:include filename="gazebo_control.xacro"/> -->
  <xacro:include filename="ros2_control.xacro"/>

  <!-- Sensors -->
  <xacro:include filename="lidar.xacro"/>
</robot>